@import "shared";

.user-info {
  border-bottom: 1px solid $border-color;
}

.cover {
  img {
    max-width: 100%;
  }
}

.header {
  margin: 20px 0;
}

.title {
  @include main-font(500);
  @include font-size(48)
  line-height: .95;
  color: #303036
}

.tags {
  border-top: 1px solid $border-color;
  padding: 15px 0;
  margin-top: 30px;
}

.content {
  @include second-font();
  @include font-size(27);
  color: #64646a;
  line-height: 1.2;
  padding: 0 50px;

  img {
    max-width: 100%;
  }

  p {
    margin-bottom: 20px;
  }


  @include min-screen( getDeviceWidth('desktop','xs') ) {
    padding: 0 30px;

    p {
      a {
        position: relative;

        &:after {
          content: '';
          display: inline-block;
          width: 0;
          transition: width .2s ease-in-out;
          border-bottom: 1px solid darken($brand-primary, 10%);
          bottom: 2px;
          position: absolute;
          left: 0;
        }

        &:hover {
          color: darken($brand-primary, 10%);
          &:after {
            width: 100%;
          }
        }
      }
    }

  }
  @include min-screen( getDeviceWidth('desktop','sm') ) {
    padding: 0 50px;
  }
  @include min-screen( getDeviceWidth('desktop','lg') ) {
    padding: 0 90px;
  }

  :global(.image-wrapper) {
    margin: 30px -30px;

    @include min-screen( getDeviceWidth('desktop','xs') ) {
      margin: 30px -10px;
    }
    @include min-screen( getDeviceWidth('desktop','sm') ) {
      margin: 30px -70px;
    }

    @include min-screen( getDeviceWidth('desktop','md') ) {
      margin: 30px -30px;
    }


  }

}
