@import "shared";

.container {
  display: flex;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid $border-color;
}

.list {
  display: flex;
  justify-content: center;
  flex: 1;
}

.item {
  @include main-font(300);
  @include font-size(26);
  line-height: 50px;
  margin: 0 20px;

  @include min-screen( getDeviceWidth('desktop','xs') ) {
    @include font-size(24);
  }

  @include min-screen( 1800px ) {
    @include font-size(26);
  }

  a {
    color: #111;
    position: relative;
    display: block;
    height: 100%;

    &:hover {
      color: $brand-primary;
    }
  }

  :global(.active) {
    border-bottom: 3px solid $brand-primary;
  }

}
