@import "shared";

.container {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 15px;
}

.input-wrapper {
  display: flex;
  flex: 0 1 450px;
  position: relative;
  background-color: #F9F8F7;
  padding: 3px 10px;
  border-radius: 5px;
}

.icon {
  font-size: 26px;
  position: absolute;
  top: 7px;
  left: 10px;
}

.input {
  @include main-font(300);
  @include font-size(22);
  border: none;
  outline: none;
  flex: 1;
  padding-left: 40px;
  z-index: 2;
  background: transparent;
}
