@mixin createColumnClass() {

  @include spanGrid('span');
  @for $i from 1 through $total-columns {
    .push-#{$i} {
      left: percentage($i / $total-columns);
    }
  }
  @for $i from 1 through $total-columns {
    .pull-#{$i} {
      right: percentage($i / $total-columns);
    }
  }

  @if ($enable-responsive-classes) {
    @each $breakpoint in map-keys($grid-breakpoints) {
      $min: map-get($grid-breakpoints, $breakpoint);

      @include min-screen($min) {
        @include spanGrid($breakpoint);
        @include orderingGrid('push', $breakpoint);
        @include orderingGrid('pull', $breakpoint);
      }
    }
  }  

}


