@import "shared";

.main {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 60px;
  max-width: 960px;
  margin: 0 auto;
  background: #fff;
  padding: 40px;
}
