@import "shared";

.container {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 60px;
  @include min-screen( getDeviceWidth('tablet','xlg') + 1) {
    flex-direction: row;
  }

}

.main {
  width: 100%;

  @include min-screen( getDeviceWidth('tablet','xlg') ) {
    margin-left: 220px;
  }

  @include min-screen( getDeviceWidth('desktop','xs') + 1) {
    margin-left: 200px;
  }

  @include min-screen( getDeviceWidth('desktop','lg') ) {
    margin-left: 250px;
  }

}
