.container {
  background: #fff;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto 40px;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  * {
    align-self: center;
  }
  h1 {
    margin: 0;
    padding: 0;
  }
}
