@import "shared";

.menu {
  @include main-font();

  margin-left: 20px;

  @include min-screen( getDeviceWidth('desktop','lg') + 1) {
    margin: 0 20px 0 50px;
  }

}

.menu-item {
  @include font-size(24);
  border-bottom: 1px solid $border-color;

  :global(.icon) {
    color: $brand-primary;
    position: relative;
    top: 3px;
    margin-right: 13px;
  }

  a {
    color: #000;
    display: block;
    padding: 5px 0;

    &:hover {
      color: $brand-primary;
    }
  }

  :global(.active) {
    color: $brand-primary;
  }

}
